

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh; /* Estamos dizendo ao body que queremos a altura completa 100% */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgb(150, 13, 13), black);
}


.google-btn img {
    width: 20px;
}